@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
input {
  outline: 0px;
  width: 100%;
  position: absoulte;
}
textarea {
  outline: 0px;
  width: 100%;
  position: absoulte;
  resize: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.user_container::-webkit-scrollbar {
  width: 10px;
}
.user_container::-webkit-scrollbar-thumb {
  background-color: #8582ac;
  border-radius: 999px;
}
.user_container::-webkit-scrollbar-track {
  background-color: #3e3c60;
}
